<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Super Ventas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Super Ventas", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Categoría", "Categoría", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Ofertas", "Ofertas", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Historial", "Historial", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Tiendas Oficiales", "Tiendas Oficiales", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Mercado Play", "Mercado Play", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Vender", "Vender", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Ayuda", "Ayuda", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Img/img1.jpg" style="width: 33%;height: 350px" />
                <img src="~/Img/img2.jpg" style="width: 33%;height: 350px" />
                <img src="~/Img/img3.jpg" style="width: 33%;height: 350px" />
            </div>
            <div class="carousel-item">
                <img src="~/Img/img4.jpg" style="width: 33%;height: 350px" />
                <img src="~/Img/img5.jpg" style="width: 33%;height: 350px" />
                <img src="~/Img/img6.jpg" style="width: 33%;height: 350px" />
            </div>
            <div class="carousel-item">
                <img src="~/Img/img7.jpg" style="width: 33%;height: 350px" />
                <img src="~/Img/img8.jpg" style="width: 33%;height: 350px" />
                <img src="~/Img/img9.jpg" style="width: 33%;height: 350px" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />


    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css"
          @RenderSection("scripts", required: false)
</body>
<footer class="bg-dark text-white pt-5 pb-4">

    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Super Ventas</h5>
                <p>Ofrecemos una amplia gama de productos de alta calidad a precios competitivos. Nuestro compromiso es brindar un excelente servicio al cliente y asegurar que cada compra sea una experiencia satisfactoria. ¡Explora nuestras ofertas y descubre lo mejor en productos y promociones!</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Productos</h5>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Proveedores</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Información de contacto adicional</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Políticas de proveedores</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Información de contacto adicional</a>
                </p>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Enlaces Útiles</h5>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Recursos de la industria</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Guías y tutoriales</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Asociaciones y organizaciones</a>
                </p>
                <p>
                    <a href="#" class="text-white" style="text-decoration: none;">Opiniones</a>
                </p>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacto</h5>
                <p>
                    <i class="fas fa-directions mr-3"></i> Av. Arequipa 2985, San Isidro 15046
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"></i> SuperSales@hotmail.com
                </p>
                <p>
                    <i class="fas fa-phone-alt mr-3"></i> +51 959 127 542
                </p>
            </div>
        </div>

        <hr class="mb-4">

        <div class="row align-items-center">

            <div class="col-md-7 col-lg-8">
                <p>
                    Copyright &copy;2024 Todos los derechos reservados por Super Ventas
                    <a href="#" style="text-decoration: none;">                     
                    </a>
                </p>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/" class="btn-floating btn-sm text-white" style="font-size: 23px;" target="_blank"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/" class="btn-floating btn-sm text-white" style="font-size: 23px;" target="_blank"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.tiktok.com/" class="btn-floating btn-sm text-white" style="font-size: 23px;" target="_blank"><i class="fab fa-tiktok"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/" class="btn-floating btn-sm text-white" style="font-size: 23px;" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.youtube.com/" class="btn-floating btn-sm text-white" style="font-size: 23px;" target="_blank"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</footer>

</html>
